
body {
	font-family: 'Eczar', serif;
	background: #0B486B;  /* fallback for old browsers */
	background: #F5F5F5
}

h1 {
	background: #FFFFFF;
	color: white;
	margin: 0;
	padding: 30px 20px;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: normal;
	text-align: center;
}
	
	
#container {
	width: 700px;
	margin: 0px auto;
	background: #D3D3D3;
	box-shadow: 22px 20px 5px 0px rgba(82,81,77,1); 
	text-align: center;
}



input {
	font-size: 20px;
	color: #483D8B;
	background-color: #F5F5F5;
	width: 100%;
	padding: 13px 13px 13px 13px;
	box-sizing: border-box;
	border: 3px;
	text-align: center;
	
}

input:focus{
	background: #fff;
	border: 3px solid #F56217;
	outline: none;
}
	
span {
	background: #FF4500;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
#results {
	margin:50px auto;
	max-width: 700px;
	padding: 70px 12px 10px 70px;
	border: 5px #778899;
	font: 18px "Eczar", serif;
}

.form-style-1 li {
	padding: 0px;
	display: block;
	width: 200px;
	margin: 40px auto;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #778899;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #778899;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

